
$font-stack: Helvetica, sans-serif;

//colors
$red: red;
$blue: blue;
$ripe-plum: #550066;
$silver-chalice: #A5A5A5;
$tundora: #424242;
$crimson: #ED1C24;
$mercury: #e8e8e8;
$flirt: #990099;
$cerulean: #00aeef;
$black-haze: #F1F2F2;

//layout
$content-width: 900px;
$header-height: 100px;

//breakpoints
$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 900px;